



body {
    text-align: center;
    background: rgb(234, 227, 215);
}

h1 {
    
    color: lightblue;
}

li {
    text-align: left;
    /* font-family: 'Gambarino', serif; */
    color: white;
}   

Navigation {
    text-align: left;
}