---
import '../styles/global.css';

import Navigation from '../components/Navigation.astro';
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Body of Work</title>
	</head>
<body>
	<h1>All the stuff I have done.</h1>

	<Navigation />
	<p> These are some of the projects I have worked on.</p>
  
  

  
</body>